<<<<<<< HEAD
*{
 margin: 0;
 padding: 0;
 outline: 0;
}

body {
    font-family: 'Roboto' , 'sans-serif';
=======
/* primeiras propriedades: */
* {
    /* define a área de margem nos quatro lados do elemento */
    margin: 0; 
    /* distância entre o conteúdo de um elemento e suas bordas */
    padding: 0;
    /* para configurar uma ou mais das propriedades de contorno */
    outline: 0;
}

body {
    /* Definindo a fonte de todo nosso body */
    font-family: 'Roboto', sans-serif;
>>>>>>> 729d25a480b8e20b622d1e770d035b32fe3940ba
    margin: 0;
}

li {
<<<<<<< HEAD
    list-style: none;
}

.header-menu {
    display: flex;
    position: fixed;
    width: 100%;
    padding: 8px;
    padding-top: 30px;
    padding-bottom: 30px;
    height: 20px;
    background-color: #46a54b;

=======
    /* retirando as bolinhas das nossas listas */
    list-style: none;
}

/* mostrar o flex-froggy
https://flexboxfroggy.com/#pt-br */

.header-menu {
    /* // Torna o elemento um flex container automaticamente transformando todos os seus filhos diretos em flex itens. */
    display: flex;
    position: fixed; /*Deixa o nosso header fixo*/
    width: 100%; /*Largura*/
    padding: 8px; /*Espaçamento dos 4 lados*/
    padding-bottom: 32px; /*Espaçamento inferior*/
    padding-top: 32px;/*Espaçamento superior*/
    height: 60px;
    background-color: #938DF8;
>>>>>>> 729d25a480b8e20b622d1e770d035b32fe3940ba
}

.header-menu nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.lista-menu {
    display: flex; /*Colocando os itens na mesma linha*/
<<<<<<< HEAD
    justify-content: space-evenly; 
    align-items: center;/*Espaçamento entre eles seja igual*/
    width: 50%;
    
=======
    justify-content: space-evenly; /*Espaçamento entre eles seja igual*/
    width: 50%;
    align-items: center;
>>>>>>> 729d25a480b8e20b622d1e770d035b32fe3940ba
}

/*Pegando os itens com tag a de dentro da nossa lista*/
.lista-menu li>a {
<<<<<<< HEAD
    font-size: 23px; /**/
    color: #FFF; 
    text-decoration: none;
=======
    font-size: 18px; /**/
    color: #FFF; /**/
>>>>>>> 729d25a480b8e20b622d1e770d035b32fe3940ba
}

.principal {
    height: 100vh; /**/
    display: flex; /**/
    background-color: #EAEAEA; /**/
<<<<<<< HEAD
    height: 90vh;
=======
>>>>>>> 729d25a480b8e20b622d1e770d035b32fe3940ba
}

/* O container é um componente do Bootstrap que garante que o seu layout vai ficar alinhado corretamente na página. 
Ele pode definir as margens laterais da página, ou deixar sem margens e, também, posiciona o conteúdo no 
centro do browser. O container é invisível. */

.container {
    margin-right: auto; /*uma margem automática para todos os lados*/
    margin-left: auto; /**/
    max-width: 960px; /*largura maxima*/
    padding-right: 10px; /* Espaçamento direito*/
    padding-left: 10px; /*Espaçamento esquerdo*/
    width: 100%; /*largura*/
}

<<<<<<< HEAD
.principal div>img {
    border-radius: 50%;
}

=======
>>>>>>> 729d25a480b8e20b622d1e770d035b32fe3940ba
.subcontainer-principal {
    display: flex; /**/
    flex-direction: column; /**/
    justify-content: center; /**/
    align-items: center; /**/
    text-align: center; /**/
}

.nome-completo {
    font-size: 36px; /**/
<<<<<<< HEAD
    color: #2b8a1e; /**/
    font-weight: 700; /*espessura*/
    height: 50px; /**/
}

.profissao {
    color: #5cad30; /**/
    height: 35px; /*altura*/
=======
    color: #938DF8; /**/
    font-weight: 700; /*espessura*/
    height: 45px; /**/
>>>>>>> 729d25a480b8e20b622d1e770d035b32fe3940ba
}

.texto-sobre {
    font-size: 20px; /**/
    line-height: 32px; /*Espaçamento entre as linhas*/
<<<<<<< HEAD
    color: #8eaf7c
}

.topico-principal {
    margin-bottom: 10px;
    font-size: 36px; /**/
    color: #9cbf49; /**/
=======
}

.profissao {
    color: #C5C0C0; /**/
    height: 60px; /*altura*/
}

.topico-principal {
    font-size: 36px; /**/
    color: #49BFB3; /**/
>>>>>>> 729d25a480b8e20b622d1e770d035b32fe3940ba
}

.lista-item {
    padding: 32px; /*espaçamento dos 4 lados*/
}

.lista-item ul li {
    margin-bottom: 32px; /*espaçamento entre os items da nossa lista*/
}

.lista-titulo {
<<<<<<< HEAD
    margin-bottom: 6px; /*espaçamento entre os items da nossa lista*/
    font-size: 22px; /**/
    color: #a1aa8d; /**/
=======
    margin-bottom: 5px; /*espaçamento entre os items da nossa lista*/
    font-size: 22px; /**/
    color: #828282; /**/
>>>>>>> 729d25a480b8e20b622d1e770d035b32fe3940ba
    font-weight: 700; /**/
}

.lista-local {
    font-size: 18px; /**/
<<<<<<< HEAD
    color: #054120; /**/
=======
    color: #2F80ED; /**/
>>>>>>> 729d25a480b8e20b622d1e770d035b32fe3940ba
}

.lista-descricao {
    font-size: 18px; /**/
    margin-top: 5px; /**/
    line-height: 20px; /*Espaçamento entre as linhas*/
<<<<<<< HEAD
    color: #4b8367; /**/
=======
    color: #828282; /**/
>>>>>>> 729d25a480b8e20b622d1e770d035b32fe3940ba
    font-weight: 300; /**/
}

.article-lista {
    display: flex; /**/
    margin-top: 100px; /**/
    margin-bottom: 100px; /**/
    flex-direction: column; /**/
}

<<<<<<< HEAD
.lista-portifolio {
=======
.wrapper-portfolio {
>>>>>>> 729d25a480b8e20b622d1e770d035b32fe3940ba
    background-color: #EAEAEA;
    display: flex;
    flex-direction: column;
}

.subtitulo-lista {
    font-size: 18px;
    color: #828282;
    font-weight: 500;
}

.footer{
<<<<<<< HEAD
    background-color: #57d853;
    height: 37vh;
=======
    background-color: #5a53d8;
    height: 30vh;
>>>>>>> 729d25a480b8e20b622d1e770d035b32fe3940ba
    display: flex;
    align-items: center;
}

.lista-footer li {
    color: #FFF;
    font-weight: 700;
<<<<<<< HEAD
    font-size: 20px;
    margin-bottom: 20px;
=======
    font-size: 18px;
    margin-bottom: 16px;
>>>>>>> 729d25a480b8e20b622d1e770d035b32fe3940ba
    display: flex;
    align-items: center;
}

.link {
    text-decoration: none;
    color: #FFF;
}

.estilo-icon {
<<<<<<< HEAD
    font-size: 42px;
    margin-right: 25px;
=======
    font-size: 32px;
    margin-right: 10px;
>>>>>>> 729d25a480b8e20b622d1e770d035b32fe3940ba
}